<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            rel="stylesheet"
            data-name="vs/editor/editor.main"
            href="/vs/editor/editor.main.css"
    />
    <title>[{[ .title ]}]</title>
</head>
<body>

<div id="container" style="width: 800px; height: 600px; border: 1px solid grey"></div>

<script>
    const require = {paths: {vs: '/vs'}};
</script>
<script src="/vs/loader.js"></script>
<script src="/vs/editor/editor.main.nls.js"></script>
<script src="/vs/editor/editor.main.nls.zh-cn.js"></script>
<script src="/vs/editor/editor.main.js"></script>

<script>
    const editor = monaco.editor.create(document.getElementById('container'), {
        value: [`
-- +goose Up
CREATE TABLE \`t_user\` (
  \`id\` varchar(255) NOT NULL,
  \`name\` varchar(255) NOT NULL,
  \`created_at\` datetime NOT NULL,
  PRIMARY KEY (\`id\`)
);

-- +goose Down
DROP TABLE t_user;

`
        ].join('\n'),
        language: 'sql'
    });
</script>

</body>
</html>