<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[{[ .title ]}]</title>
    <style>
        .container {
            text-align: center;
        }

        .file-names {
            height: 300px;
            border: beige 1px solid;
            overflow-y: auto;
        }

        form {
            margin: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="file-names">
        [{[ range $key, $name := .fileNames ]}]
        <p><a href="[{[ $key ]}]">[{[ $name ]}]</a></p>
        [{[ end ]}]
    </div>
    <form action="/upload" method="post" enctype="multipart/form-data">
        SQL files: <input type="file" name="files" multiple><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>